.bg-black {
    background-color: black;
}

.center {
    display: "flex";
    justify-content: center;
    align-items: center;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }